<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
    <div class="page-header">
        <h1>SpimeSensLabs</h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form method="get" action="/search">
            <div class="form-group">
                <label for="inputEmail1">Username</label>
                <input class="form-control" name="username" type="text" placeholder="Enter a username...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
            <% if (locals.groupedDates) { %>
            <ul class="list-group">
                <% Object.keys(groupedDates).forEach((day) => { %>
                <li class="list-group-item"><%= day %>:
                    <ul>
                        <% groupedDates[day].map((time) => { %>
                        <li><%= new Date(time).toLocaleTimeString() %> </li>
                        <% }); %>
                    </ul>
                </li>

                <% }); %>
            </ul>
            <% } %>
        </div>
    </div>
</body>

</html>